<%- include header %>
<p><a href="<%=href%>">Voltar</a></p>
<h2>
    Editar Vaga:
    <a href="/admin/vagas">Vagas</a>
</h2>
    <div>
        <form method="POST" action="/admin/vagas/edit/<%-vaga.id%>">
            <div><label>Titulo</label></div>
            <div><input type="text" name="tit" value="<%-vaga.titulo%>"></div>
            <div><label>Descricao</label></div>
            <div><textarea cols="22" rows="5" name="desc"><%-vaga.descricao%></textarea></div>
            <div><label>Categoria</label></div>
            <div><select name="cat"></div>
                <% categorias.forEach( cat => { %>
                    <% var selected = cat.id == vaga.categoria ? "selected" : "" %> 
                    <option value="<%= cat.id %>" <%= selected %>><%= cat.categoria %></option>
                <% }) %>
                <div></select></div>
            <div><button>Enviar</button></div>
        </form>
    </div>
<%- include footer %>




